<style>
  .message-contente {
    font-family: :Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Uma troca de senha foi solicitada para sua conta.</p>
  <p>Se foi você, então clique no link abaixo para alterar sua senha:</p>
  <p>
    <a href="{{link}}">Trocar minha senha</a>
  </p>
  <p>Se você não solicitou a troca de senha então descarte este e-mail!</p>
  <p>Obrigado'
    <br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
